* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 1.5;
}

.bio {
    background-color: rgb(71, 76, 80);
    padding-top: 8%;
    margin-top: -12%;
    justify-content: center;
    text

}

.projects {
    background-color: rgb(51, 49, 49);
    padding-bottom: 20%;
}

nav, footer {
    background-color: rgb(48, 48, 58);
}
 header {
     padding: 10%;
     margin-top: -10%;
 }

 h1 {
     background-color: grey;
 }
  footer {
      padding-top: -16%;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


